* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    overflow-x: hidden;
    background-color: #DF8825;
}


img {
    object-fit: cover;
}



/* Navbar  */


.navbar {
    display: flex;
    justify-content: space-around;
}

.container-fluid {
    padding: 3% 15%;
}

.navbar-brand {
    font-family: 'Waltograph';
    font-size: 2.8rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 1.2rem;
    color: #fff;
}

.navbar-toggler {
    margin: 0;
}











/* First Container  */

.container-fluid {
    background-color: #DF8825;
    padding: 3% 15%;
    line-height: 1.5;
    text-align: center;
    margin-top: 0px;
    z-index: -100;
}

.main-photo {
    border-radius: 5px;
    filter: drop-shadow(4px 4px 8px #999999);
}

.container-text {
    color: #DF8825;
    font-size: 1.5rem;
    font-family: 'Indie Flower', cursive;
}

figure {
    text-align: center;
}

figcaption {
    color: #DF8825;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    margin-top: 10px;
    font-size: 1.5rem;
    text-decoration: underline;
    line-height: 1.5;
}

.main {
    border: 2px solid #DF8825;
    padding: 25px 10px 0;
    border-radius: 5px;
    background-color: #fff;
}



/* Carousel  */

.carousel {
    margin: 150px 0 0;
    text-align: center;
    background-color: #fff;
    padding: 100px 0;
}

/* object-position of the pictures top because in the normal way cuts the heads   */
.where-and-when-photo {
    object-position: top;
}


/* customize the object-position for the same reason above  */
.wedding-gift {
    object-position:0 35%;
}

.carousel-control-prev-icon {
    background-color: #DF8825;
    margin-right: 25px;
}


.carousel-control-next-icon {
    background-color: #DF8825;
    margin-left: 25px;
}

.text-carousel {
    font-size: 1.10rem;
    text-decoration: none;
    display: block;
    color: #fff;
    background-color: #DF8825;
    margin: 30px auto 0 auto;
    width: 350px;
    padding: 25px 30px;
    border-radius: 5px;
    filter: drop-shadow(4px 4px 8px #999999);
}


/* when the user clicks on the button resize to show the effect  */
.text-carousel:active {
    transform: scale(0.9);
}

button {
    margin-bottom: 80px;
}



/* Last Container  */

.last-container {
    padding: 7% 10%;
    justify-content: end;
    background-color: #fff;
}

.text-last-container {
    font-size: 1.25rem;
    margin-top: 20px;
}

.buttons {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: end;
}

.android {
    width: 150px;
    padding: 10px 20px;
    background-color: #DF8825;
    color: #fff;
    border-radius: 20px;
    border: #fff;
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
}

.apple {
    width: 150px;
    padding: 10px 20px;
    background-color: #fff;
    color: #DF8825;
    border-radius: 20px;
    border: 2px solid #DF8825;
    text-align: center;
    text-decoration: none;
}



/* Footer  */

.footer {
    height: 150px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 2% 8% 0%;
    text-align: center;
}

.list-footer {
    list-style: none;
    text-align: left;
}

.list-item {
    color: #fff;
    font-size: 1rem;
    margin-right: 20px;
    text-decoration: none;
}

.list-item:hover {
    opacity: 0.8;
}



.phone-number {
    font-size: 0.8rem;
}



.copyright {
    color: #fff;
}















/*************  tablet and mobile  ***************/

@media screen and (max-width:768px) {
	
    /* Navbar  */

   .main-photo {
    width: 300px;
   }


    .container-fluid {
        text-align: center;
    }

    /* Carousel  */

    .carousel-item img {
        width: 90%;
        height: 250px;
    }

    /* Footer */

    .footer {
        margin-top: 50px;
        padding: 2% 5% 0%;
    }

}


/* Only on Mobile  */

@media screen and (max-width:480px) {
    .main-photo {
        width: 250px;
        height: 400px;
    }

    
    /* To Center the photo for mobile  */

    .wedding-gift {
        object-position:0px 40%;
    }


    .text-last-container {
        font-size: 0.8rem;
        margin-top: 20px;
    }


    .footer {
        margin-top: 50px;
        padding: 2% 5% 0%;
    }

}