* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #DF8825;
    text-align: center;
    font-family: 'Montserrat';
    overflow-x: hidden;
}

h2 {
    font-family: 'Waltograph';
    color: #fff;
    font-size: 2.75rem;
    padding-top: 20px;
    letter-spacing: 0.3rem;
}

.container-fluid {
    background-color: #DF8825;
    padding: 3% 15%;
    line-height: 1.5;
    text-align: center;
    margin-top: 0px;
    z-index: -100;
    height: auto;
}





.container-text {
    color: #DF8825;
    font-size: 1.5rem;
    font-family: 'Indie Flower', cursive;
    margin: 0 auto;
}



.main {
    border: 2px solid #DF8825;
    padding: 25px 10px 0;
    border-radius: 5px;
    background-color: #fff;
}


iframe {
    margin: 20px 0 50px 0;
}


.back-home {
    position: fixed;
    bottom: 10px;
    right: 20px;
    color: #fff;
    font-size: 1.75rem;
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Waltograph';
    letter-spacing: 0.1rem;
    text-align: center;
    width: 12%;
    border: 2px solid #fff;
}



/* Footer  */

.footer {
    height: 150px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 2% 8% 0%;
}

.list-footer {
    list-style: none;
    text-align: left;
}

.list-item {
    color: #fff;
    font-size: 1.25rem;
    margin-right: 20px;
    text-decoration: none;
}

.copyright {
    color: #fff;
}





/************** Mobile Version  ***************/

@media screen and (max-width:768px) {

    iframe {
        width: 80%;
        height: 300px;
    }

    .back-home {
        position:static;
        margin: 0 auto 50px 0;
        width: 100%;
    }



}